
#main{
    width: 95vw;
    display: flex;

}
#textBuscar
{
    width: 80%;
    border: 0;
    color: #6b6b6b;
    font-size: 2em;
}
#sectionSearch
{
    background-color: #6b6b6b;
    padding: 10px;
    margin: 10px;
    position: sticky;
    top: 0;
}
input[type="button"]
{
    background-color: black;
    color: wheat;
    border: 0;
    padding: 10px 25px;
    font-size: 1em;
    font-weight: bold;
}
#search
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin: 20px;
}
#list-films
{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.card
{
    width: 300px;
}
.image,.title
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img
{
    width: 95%;
    border-radius: 10%;
    max-height: 390px;
}
.vote{
    justify-content: space-around;
    display: flex;
    align-items: center;
}
.card h2
{
    font-size:1.2em; 
}